<div class="container" >
  <div class="row">
    <div class="col-md-10">
      <h3>Фильтр</h3>
      <div class="input-group mb-3">
        <input type="text" class="form-control" #input
        placeholder="Поиск" 
        aria-label="Recipient's username" 
        aria-describedby="basic-addon2"
        (keyup)="searchInput.next($event.target.value)">
        <div class="input-group-append">
          <button class="btn btn-outline-secondary" 
          type="button" (click)="randomButton.next(true)" >Мне повезёт</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row" >
    
    <div class="col-md-10">
      <div class="alert alert-danger" role="alert" *ngIf="error$ | async as error">
        {{error}}
      </div>
      <table class="table" *ngIf="tableData$ | async as tableData">
        <thead>
          <tr>
            <th scope="col" class="pointer" *ngFor="let columnName of columnNames" 
            (click)="columnNamesClick.next(columnName.id)">
              {{columnName.nameRu}}
            </th>
          </tr>
        </thead>
        <tbody >
          <tr *ngFor="let answer of tableData">
            <td>{{answer.id}}</td>
            <td>{{answer.title}}</td>
            <td>{{answer.description}}</td>
          </tr>
          <tr *ngIf="tableData.length === 0">
            <td>Пусто</td>
          </tr>
        </tbody>
      </table>
      <div class="spinner-box" *ngIf="spinner$ | async">
        <img src="assets/loader.gif" alt="" class="spinner">
      </div>
    </div>
  </div>
</div>













